/* add home page styles here */

.main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 100px;
}

a{
    color: rgb(30, 255, 0);
    background-color: black;
    font-style: normal;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
}

a:hover{
    transform: scale(1.5) rotate(5deg);
}

p{
    font-size: 1.05rem;
}