
/* STANDARD ISSUE */
*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;  
    font-family: 'Roboto Mono', monospace;
}

header{
    margin-bottom: 10px;
}

header, footer {
 background-color: black;
 color: white;
 min-height: 10%;
 display: flex; 
 justify-content: center;
 align-items: center;
}

header img {
    height: var(--header-height);
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80%;
}
/*  */

h1{
    font-size: clamp(1rem, 1.5rem, 2.5rem);
}

button{
    color: white;
    background-color: black;
    border: 2px rgb(30, 255, 0) solid;
}

button:hover{
    cursor: pointer;
    transform: scale(1.10);
}

button:active{
    color: rgb(0, 0, 0);
    background-color:rgb(30, 255, 0);
    border: 2px black solid;
}

footer{
    margin-top: 10px;
}