
/* STANDARD ISSUE */
*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;  
    font-family: 'Roboto Mono', monospace;
}

header, footer {
 background-color: black;
 color: white;
 min-height: 10%;
 display: flex; 
 justify-content: center;
 align-items: center;
}

header img {
    height: var(--header-height);
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80%;
}
/*  */